<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" cardTitle="Lorem Ipsum" cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod elit, ac egestas risus."></app-big-card>
    </div>
    
    <div class="articles__others">
        <app-small-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" cardTitle="Lorem Ipsum"></app-small-card>
        <app-small-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" cardTitle="Lorem Ipsum"></app-small-card>        <app-small-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" cardTitle="Lorem Ipsum"></app-small-card>
        <app-small-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" cardTitle="Lorem Ipsum"></app-small-card>
        <app-small-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" cardTitle="Lorem Ipsum"></app-small-card>        <app-small-card photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" cardTitle="Lorem Ipsum"></app-small-card>
    </div>
</div>